# Copyright (c) 2019-2026 Giovanni Giacomo. All Rights Reserved.
# Use of this source code is governed by a MIT-style
# license that can be found in the LICENSE file.

# Ignore IDE Files
.idea/
.vscode/*
!.vscode/c_cpp_properties.json

# Ignore Binary Files
bin/
obj/
lib/
