# Copyright (c) 2019 Giovanni Giacomo. All Rights Reserved.
# Use of this source code is governed by a MIT-style
# license that can be found in the LICENSE file.

# Ignore IDE Files
.idea/
.vscode/

# Ignore Binary Files
bin/
